<h1>About</h1>
<address>
	<strong>Yuheng Chen</strong>
	<br>
	<a href="mailto:chyh1990@gmail.com">chyh1990@gmail.com</a>
</address>
<address>
	<strong>Junjie Mao</strong>
	<br>
	<a href="mailto:eternal.n08@gmail.com">eternal.n08@gmail.com</a>
</address>

<!-- Local Variables: -->
<!-- mode: html -->
<!-- End: -->
